<h1>Beers</h1>
<div class= "beers-container">
{{#each beersFromApi}} 
<div class="beers-detail">
<h3>{{name}} </h3>
<p>{{tagline}} </p>
<img src="{{image_url}} " alt=" {{name}}">

<p>Description: {{description}} </p> 
{{/each}}
</div>


</div>